.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container,
.map-container * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}
.map-container a,
.map-container a:hover,
.map-container a:active {
  color: #000;
  text-decoration: none;
}
.map-container {
  position: relative;
  width: 100%;
  height: 500px;
}
#search-result {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}
.bg_white {
  background: #fff;
}
#search-result hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}
#search-result .option {
  text-align: center;
}
#search-result .option p {
  margin: 10px 0;
}
#search-result .option button {
  margin-left: 5px;
}
#places-list li {
  list-style: none;
}
#places-list .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}
#places-list .item span {
  display: block;
  margin-top: 4px;
}
#places-list .item h5,
#places-list .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#places-list .item .info {
  padding: 10px 0 10px 55px;
}
#places-list .info .gray {
  color: #8a8a8a;
}
#places-list .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
    no-repeat;
}
#places-list .info .tel {
  color: #009900;
}
#places-list .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
    no-repeat;
}
#places-list .item .marker_1 {
  background-position: 0 -10px;
}
#places-list .item .marker_2 {
  background-position: 0 -56px;
}
#places-list .item .marker_3 {
  background-position: 0 -102px;
}
#places-list .item .marker_4 {
  background-position: 0 -148px;
}
#places-list .item .marker_5 {
  background-position: 0 -194px;
}
#places-list .item .marker_6 {
  background-position: 0 -240px;
}
#places-list .item .marker_7 {
  background-position: 0 -286px;
}
#places-list .item .marker_8 {
  background-position: 0 -332px;
}
#places-list .item .marker_9 {
  background-position: 0 -378px;
}
#places-list .item .marker_10 {
  background-position: 0 -423px;
}
#places-list .item .marker_11 {
  background-position: 0 -470px;
}
#places-list .item .marker_12 {
  background-position: 0 -516px;
}
#places-list .item .marker_13 {
  background-position: 0 -562px;
}
#places-list .item .marker_14 {
  background-position: 0 -608px;
}
#places-list .item .marker_15 {
  background-position: 0 -654px;
}
#pagination {
  margin: 10px auto;
  text-align: center;
}
#pagination a {
  display: inline-block;
  margin-right: 10px;
}
#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}
